In [1]:
import pandas as pd

In [ ]:
pd.read_csv('ref.csv', sep=';')

In [8]:
df=pd.read_csv("Student_marks.csv")
df

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[100 rows x 3 columns]

In [9]:
df.shape

(100, 3)